## Configuration

Add to your `epack.yaml`:

```yaml
{{.ConfigSection}}:
  {{.Name}}:
    source: OWNER/{{.BinaryName}}@v1
    config:
      # TODO: Add configuration options
```

## Options

| Option | Type | Required | Description |
|--------|------|----------|-------------|
| `example_option` | string | No | TODO: Describe this option |

## Environment Variables

| Variable | Description |
|----------|-------------|
| `EXAMPLE_TOKEN` | TODO: Describe required secrets |
