module {{.ModulePath}}

go 1.23.0

require github.com/locktivity/epack v0.0.0

// TODO: Remove this replace directive once epack is published
// replace github.com/locktivity/epack => ../path/to/epack
